.nav {
  width: 100vw;
  padding: 2rem;
  position: fixed;
  top: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  z-index: 1;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.nav ul li a {
  transition: .3s;
  padding: .5rem 1.5rem;
}

.nav ul:first-child li a {
  color: green;
}

.nav ul li a:hover {
  background: rgba(255, 255, 255, 0.25);
  border-radius: .75rem;
}